# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfvars

# OS & Office
.DS_Store
Thumbs.db
~$*
*.tmp

# IDE
.vscode/
.idea/

# Node
node_modules/

# Docker
*.log

# AWS
.aws/
